# Node
node_modules/

# Playwright reports
test-results/
playwright-report/
blob-report/

# Playwright cache & auth
playwright/.cache/
playwright/.auth/

# Screenshots
screenshots/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db